<h2>Personal Profile</h2>

<nav>
  <ul>
    <li>
      <a routerLink="home">About me</a>
    </li>
    <li>
      <a routerLink="expertise">Area of Expertise</a>
    </li>
    <li>
      <a routerLink="experience">Work Experience</a>
    </li>
    <li>
      <a routerLink="goals">Achievements and Goals</a>
    </li>
    <li>
      <a routerLink="trainings">Trainings Attended</a>
    </li>
    <li>
      <a routerLink="hobbies">Hobbies</a>
    </li>
    <li>
      <a routerLink="contact">Contact me</a>
    </li>
  </ul>  
</nav>
<router-outlet></router-outlet>